/* Farben aus dem NORDtheme https://www.nordtheme.com/ */
:root {
  --nord0: #2e3440;
  --nord1: #3b4252;
  --nord2: #434c5e;
  --nord3: #4c566a;
  --nord4: #d8dee9;
  --nord5: #e5e9f0;
  --nord6: #eceff4;
  --nord7: #8fbcbb;
  --nord8: #88c0d0;
  --nord9: #81a1c1;
  --nord10: #5e81ac;
 --nord11: #bf616a;
  --nord12: #d08770;
  --nord13: #ebcb8b;
  --nord14: #a3be8c;
  --nord15: #b48ead;
}
/* Mehr mögliche Gesamtbreite
.container {
  max-width: 920px;
  }*/
.sidebar.toggled~.main{
    margin-left:0px
}



/* Zentrierung für PC-Bildschirme */
@media screen and (min-width:1366px){
    .sidebar{
      margin-left: 200px;
    }
    .has-sidebar .main{
        margin-left:500px;
    }
}
/* Änderungen der stadardwerte im footer */
#footer{
  font-style: italic;
}

/* Änderungen am Menüband */
.menu ul {
}
