<div class="credits">
  <p> Diese Seite wurde erstellt mit der Hilfe von:  <a href="https://gohugo.io/" title="">Hugo</a> , <a href="https://themes.gohugo.io/themes/minimo/" title="Minimo">Hugo-theme-Minimo</a>, <a href="https://gitlab.com/" title="">gitlab</a> Gehostet bei <a href="https://uberspace.de" title="">Uberspace</a>.
  </p>
</div>

