
<script>window.__assets_js_src={{- "assets/js/" | relURL -}}</script>

<script src='{{ print "/assets/js/" .Site.Data.assets.main.js | relURL }}'></script>

{{- range .Site.Params.assets.customJS -}}
  <script src='{{ . | relURL }}'></script>
{{- end -}}

{{ partial "footer/mathjax" . }}
{{- partial "footer/katex" . -}}
{{- partial "footer/mermaid" . -}}
